@import
//|| Structure Loads first||\\
'scss/structure/mediaQueries',
'scss/structure/colours',
'scss/structure/mixins',
'scss/structure/sideBar',

//|| Design ||\\
'scss/landing/titleImage',
'scss/landing/projects',
'scss/landing/contact',

//|| Page Speciphic ||\\
'scss/other/slickArrows',
'scss/other/video',
'scss/other/aboutMe',
'scss/other/scs',
'scss/other/crossPage',
'scss/other/codeSections';
// 'scss/other/hamburger',
// 'scss/other/base',
// 'scss/other/spring';


@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

*{
    margin:0;
    padding:0;
    font-family: 'Montserrat',sans-serif;
    user-select: none ;
}

//For pages that have this id
#body{
    background-color: $projectBackground;
    
}

