@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
#sidebar {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  margin-right: auto;
  border-right: 3px solid #111228;
  overflow-x: hidden;
  padding-top: 20px;
  background-color: #e8dde7; }
  #sidebar #initials {
    text-align: center;
    border-bottom: 5px solid #111228;
    height: 70px;
    padding: 17.5px 0; }
    #sidebar #initials a {
      font-family: 'Great Vibes', cursive;
      color: #111228;
      font-size: 48px;
      text-decoration: none; }
  #sidebar ol {
    padding: 0; }
    #sidebar ol li {
      list-style: none;
      text-align: center;
      margin-top: 20px;
      margin-bottom: 20px;
      border: 3px solid transparent; }
      #sidebar ol li a {
        margin-top: 10px;
        margin-bottom: 10px;
        text-decoration: none;
        font-size: 1.5em;
        color: black; }
        #sidebar ol li a:visited {
          color: black; }
      #sidebar ol li:first-of-type {
        margin-top: 50px; }
      #sidebar ol li:hover {
        border-top: 3px solid #111228;
        border-bottom: 3px solid #111228; }
        #sidebar ol li:hover a {
          color: #511649; }
  #sidebar ul {
    padding: 0;
    list-style: none;
    font-size: 32px;
    display: flex;
    width: 75px;
    margin: 0 auto; }
    #sidebar ul li {
      padding-right: 25px; }
      #sidebar ul li a {
        color: #111228; }
        #sidebar ul li a:hover {
          color: #511649; }

#sidebar__mobile {
  width: 100vw;
  height: 100vh;
  background-color: #e8dde7;
  background-color: #e8dde7; }
  #sidebar__mobile #initials {
    text-align: center;
    border-bottom: 5px solid #111228;
    height: 70px;
    padding: 17.5px 0; }
    #sidebar__mobile #initials a {
      font-family: 'Great Vibes', cursive;
      color: #111228;
      font-size: 48px;
      text-decoration: none; }
  #sidebar__mobile ol {
    padding: 0; }
    #sidebar__mobile ol li {
      list-style: none;
      text-align: center;
      margin-top: 20px;
      margin-bottom: 20px;
      border: 3px solid transparent; }
      #sidebar__mobile ol li a {
        margin-top: 10px;
        margin-bottom: 10px;
        text-decoration: none;
        font-size: 1.5em;
        color: black; }
        #sidebar__mobile ol li a:visited {
          color: black; }
      #sidebar__mobile ol li:first-of-type {
        margin-top: 50px; }
      #sidebar__mobile ol li:hover {
        border-top: 3px solid #111228;
        border-bottom: 3px solid #111228; }
        #sidebar__mobile ol li:hover a {
          color: #511649; }
  #sidebar__mobile ul {
    padding: 0;
    list-style: none;
    font-size: 32px;
    display: flex;
    width: 75px;
    margin: 0 auto; }
    #sidebar__mobile ul li {
      padding-right: 25px; }
      #sidebar__mobile ul li a {
        color: #111228; }
        #sidebar__mobile ul li a:hover {
          color: #511649; }

#b-menu {
  z-index: 3000;
  height: 65px;
  width: 65px;
  background-color: #523762;
  position: fixed;
  bottom: 10px;
  left: 10px;
  display: block;
  border: 2px solid #111228;
  border-radius: 50%; }
  #b-menu .burger-line {
    content: " ";
    width: 25px;
    border: 2px solid #ffffff;
    position: relative;
    top: 10%;
    margin: 10px auto;
    opacity: 1; }
  #b-menu:hover {
    background-color: #7b5393; }
  #b-menu:active {
    background-color: #895ca3; }

@media (max-width: 767px) {
  #sidebar {
    display: none; }
  #b-menu {
    display: block; } }

@media (min-width: 767px) {
  #b-menu {
    display: none; } }

#intro {
  width: 100%;
  height: 100vh;
  margin-left: auto; }

.title-image {
  height: 100vh;
  width: 100%;
  background: #523762 url("../imgs/background-img.jpg") no-repeat;
  background-size: 100% 100%;
  box-shadow: inset 0px 0px 50px 25px rgba(0, 0, 0, 0.5); }

#overlay {
  position: relative;
  top: -65%;
  color: #ffffff;
  height: 64%;
  margin-left: auto;
  margin-right: auto; }
  #overlay #title-overlay {
    text-align: center; }
    #overlay #title-overlay #h1 {
      font-size: 3em;
      margin-bottom: 25px; }
      #overlay #title-overlay #h1::after {
        content: "|"; }
    #overlay #title-overlay small {
      font-size: 24px; }
    #overlay #title-overlay #titleSpan {
      display: inline-flex; }
  #overlay .scroll {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    letter-spacing: 1px;
    font-size: 18px;
    font-weight: 700; }
    #overlay .scroll a {
      color: #ffffff;
      text-decoration: none; }

@media (min-width: 768px) and (max-width: 1024px) {
  #overlay {
    width: 70%;
    margin-left: 28%; }
    #overlay h1 {
      min-width: 500px; } }

@media (width: 1024px) {
  #overlay {
    width: 70%;
    margin-left: 20%; }
    #overlay h1 {
      min-width: 450px; } }

@media (min-width: 1024px) and (max-width: 1200px) {
  #overlay {
    width: 80%;
    margin-right: 0; } }

@media (min-width: 1200px) {
  #overlay {
    width: 85%;
    margin-right: 0; } }

@media (min-width: 1851px) and (max-width: 2560px) {
  #overlay {
    width: 85%;
    margin-right: 3%; } }

@media (min-width: 2560px) {
  #overlay {
    width: 85%;
    margin-right: 3%; } }

#main-content {
  padding: 40px 0px;
  background-color: #d9d3cd; }

#projectWrapper {
  width: 90%;
  margin: 0 auto; }
  #projectWrapper .projectType {
    width: 250px;
    margin: 0 auto;
    text-align: center;
    text-decoration: underline;
    font-size: 24px;
    margin-bottom: 50px; }

.project {
  background-color: #e8dde7;
  border: 1px solid #111228;
  border-radius: 25px;
  margin-bottom: 50px;
  box-shadow: 0px 0px 10px -5px #000000;
  box-shadow: inset 0px 0px 10px -5px #000000; }
  .project .projectLinks img {
    width: 100%;
    height: 100%;
    border-bottom: 2px solid #111228;
    border-radius: 25px 25px 0 0; }
  .project .projectLinks a {
    color: #111228;
    text-decoration: none; }
    .project .projectLinks a h3 {
      text-align: center;
      padding-left: 15px;
      padding-top: 10px; }
  .project .projectLinks:hover img {
    opacity: 0.7; }
  .project .projectLinks:hover a {
    color: #511649; }
  .project .projectDescription {
    padding: 10px 15px;
    letter-spacing: .5px;
    line-height: 25px;
    font-weight: 500; }

@media (min-width: 768px) and (max-width: 900px) {
  #projectWrapper {
    width: 65%;
    margin: 0;
    margin-left: auto;
    margin-right: 5%; } }

@media (min-width: 901px) and (max-width: 1022px) {
  #projectWrapper {
    width: 65%;
    margin-left: auto;
    margin-right: 6.5%; } }

@media (min-width: 1023px) {
  #projectWrapper {
    width: 75%;
    margin: 0;
    margin-left: auto;
    margin-right: 30px; }
  .project {
    margin-right: 30px; } }

@media (min-width: 1200px) and (max-width: 1600px) {
  #projectWrapper {
    width: 80%; }
    #projectWrapper .newRow {
      display: flex; } }

@media (min-width: 1601px) and (max-width: 1850px) {
  #projectWrapper {
    width: 80%;
    margin-right: 3%; }
    #projectWrapper .newRow {
      display: flex; } }

@media (min-width: 1851px) and (max-width: 2560px) {
  #projectWrapper {
    width: 80%;
    margin-right: 5%; }
    #projectWrapper .newRow {
      display: flex; } }

@media (min-width: 2560px) {
  #projectWrapper {
    width: 80%;
    margin-right: 5%; }
    #projectWrapper .newRow {
      display: flex; } }

#contactMe {
  background: #d9d3cd;
  background: linear-gradient(180deg, #d9d3cd 10%, #c0afa8 100%); }
  #contactMe .contactDetails {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    color: #111228; }
    #contactMe .contactDetails h1 {
      text-transform: capitalize; }
    #contactMe .contactDetails p {
      margin-bottom: 20px; }
    #contactMe .contactDetails ul {
      padding: 0;
      margin: 25px 0; }
      #contactMe .contactDetails ul li {
        font-size: 18px;
        list-style: none; }
        #contactMe .contactDetails ul li:first-of-type {
          margin-bottom: 15px; }
        #contactMe .contactDetails ul li a {
          text-decoration: none;
          color: #111228; }
  #contactMe .form {
    width: 90%;
    margin-left: auto;
    margin-right: auto; }
  #contactMe #firstName, #contactMe #lastName,
  #contactMe #email, #contactMe #subject {
    width: 95%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    margin-top: 10px; }
  #contactMe #message {
    min-width: 95%;
    max-width: 95%;
    min-height: 125px;
    margin-top: 10px;
    padding-left: 10px;
    padding-top: 15px; }
  #contactMe #firstName, #contactMe #lastName,
  #contactMe #email, #contactMe #subject, #contactMe #message {
    border: 0.25px solid grey;
    border-radius: 10px;
    letter-spacing: 0.22px;
    line-height: 2px;
    font-size: 14px; }
    #contactMe #firstName:focus, #contactMe #lastName:focus,
    #contactMe #email:focus, #contactMe #subject:focus, #contactMe #message:focus {
      transition: .15s ease-in-out;
      box-shadow: 0px 0px 15px 1px #523762; }

.scrollUpPosition {
  background-color: #c0afa8;
  padding-top: 25px; }
  .scrollUpPosition .scrollup {
    text-align: center;
    text-transform: capitalize;
    padding-bottom: 25px;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px; }
    .scrollUpPosition .scrollup a {
      color: #111228;
      text-decoration: none; }

input:focus,
select:focus,
textarea:focus,
text:focus,
button:focus {
  outline: none; }

.errorMessage {
  background-color: rgba(214, 27, 27, 0.75); }

.successMessage {
  background-color: lightgreen; }

.errorMessage, .successMessage {
  border: 0.25px solid #111228;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  margin-bottom: 20px; }

#msg {
  margin-top: 10px;
  padding: 15px 5px;
  width: 50%;
  outline: none;
  background-color: #ffffff;
  border: 2px solid #111228;
  border-radius: 5px;
  font-size: 18px;
  text-transform: capitalize;
  text-align: center;
  cursor: pointer; }
  #msg:hover {
    color: #ffffff;
    background-color: #523762;
    transition: ease-in-out .5s;
    border-radius: 20px; }
  #msg:active {
    box-shadow: inset 0px 0px 15px -2px #000000; }

@media (min-width: 768px) and (max-width: 1024px) {
  #contactMe {
    margin-left: auto; }
    #contactMe .contactDetails {
      width: 40%; }
    #contactMe .form {
      width: 68%;
      margin-left: auto;
      margin-right: 2%; }
      #contactMe .form #firstName, #contactMe .form #lastName {
        width: 45.5%; }
  #msg {
    width: 30%; }
  .scrollup {
    width: 75%;
    margin-left: auto; } }

@media (min-width: 1024px) and (max-width: 1200px) {
  #contactMe {
    display: flex;
    margin-left: auto; }
    #contactMe .contactDetails {
      width: 25%;
      margin-right: 0; }
    #contactMe .form {
      width: 47%;
      margin: 30px; }
      #contactMe .form #firstName, #contactMe .form #lastName {
        width: 45.5%; }
      #contactMe .form #firstName {
        margin-right: 1%; }
  #msg {
    width: 20%; }
  .scrollup {
    width: 80%;
    margin-left: auto; } }

@media (min-width: 1200px) {
  #contactMe {
    display: flex;
    margin-left: auto;
    width: 100%; }
    #contactMe .contactDetails {
      width: 25%;
      margin-right: 2.5%; }
    #contactMe .form {
      width: 50%;
      margin: 30px; }
      #contactMe .form #firstName, #contactMe .form #lastName {
        width: 46.5%; }
      #contactMe .form #firstName {
        margin-right: 1%; }
    #contactMe #email, #contactMe #subject {
      width: 96%; }
    #contactMe #message {
      min-width: 96%;
      max-width: 96%; }
  #msg {
    width: 20%; }
  .scrollup {
    width: 85%;
    margin-left: auto; } }

@media (min-width: 1851px) and (max-width: 2560px) {
  #contactMe {
    display: flex;
    padding-left: auto;
    padding-right: 5%;
    width: 90%; }
    #contactMe .scrollup {
      width: 85%;
      margin-left: auto;
      margin-right: 5%; } }

@media (min-width: 2560px) {
  #contactMe {
    display: flex;
    padding-left: auto;
    padding-right: 5%;
    width: 90%; }
  .scrollup {
    width: 85%;
    margin-left: auto;
    margin-right: 5%; } }

.picPos {
  width: 100%; }

#myPic {
  width: 250px;
  height: 300px;
  margin: 50px auto; }
  #myPic img {
    width: 100%;
    height: 100%;
    border: 3px solid #111228;
    border-radius: 50%;
    box-shadow: 0px 0px 10px 0px #523762; }

.aboutMe h1, .lang h1 {
  text-align: center;
  color: #ffffff;
  background-color: #523762;
  border: 3px solid #111228;
  width: 80%;
  text-transform: capitalize;
  padding: 20px;
  margin: 50px 2% 35px; }

.aboutMe h1, .lang h1 {
  border-radius: 0 20px 20px 20px; }

.aboutMe p, .lang p {
  width: 80%;
  margin-top: 2%;
  margin-left: 2%;
  padding: 20px;
  font-size: 18px;
  background-color: #e8dde7;
  border: 2px solid #111228;
  letter-spacing: .22px;
  line-height: 22px;
  border-radius: 20px 0px 20px 20px; }
  .aboutMe p a, .lang p a {
    color: #111228; }
    .aboutMe p a:hover, .lang p a:hover {
      color: #511649; }

.lang p {
  margin-bottom: 100px; }

@media (min-width: 320px) {
  .aboutMe h1, .lang h1 {
    width: 250px; } }

@media (min-width: 768px) and (max-width: 1024px) {
  .picPos {
    width: 60%;
    margin-left: auto;
    margin-right: 25%; }
  .wrapper {
    width: 60%;
    margin-left: auto;
    margin-right: 10%; }
  .aboutMe h1, .lang h1 {
    width: 300px; }
  .aboutMe p, .lang p {
    margin-left: 12%;
    width: 400px; } }

@media (min-width: 1024px) {
  .picPos {
    width: 7%;
    margin: 0 auto; }
  .wrapper {
    width: 50%;
    margin-left: auto;
    margin-right: 17%; }
  .aboutMe h1, .lang h1 {
    width: 330px; }
  .aboutMe p, .lang p {
    width: 500px;
    margin-left: 10%; } }

#scsImg {
  width: 93%;
  height: 100%;
  margin: 10% 5% 7% 3%; }
  #scsImg img {
    width: 100%;
    height: auto;
    border: 5px solid #111228;
    border-radius: 10px; }

.sections {
  width: 95%;
  margin-top: 50px;
  padding-bottom: 50px;
  letter-spacing: .22px;
  line-height: 23px;
  margin: 0 auto; }

.section {
  margin-top: 25px;
  padding: 20px;
  padding-top: 0;
  background-color: #e8dde7;
  border: 3px solid #111228;
  border-radius: 10px;
  box-shadow: 0px 0px 15px 1px #523762; }
  .section h2 {
    margin-top: 20px;
    text-align: center; }
  .section .Netmatters:hover {
    color: #333643; }
  .section .treeH {
    width: 258px;
    margin: 0 auto; }
    .section .treeH img {
      width: 100%;
      height: 100%; }
  .section .tree:hover {
    color: #35a961; }
  .section .netM {
    width: 258px;
    margin: 20px auto; }
    .section .netM img {
      width: 100%;
      height: 100%; }
  .section h2 {
    margin-bottom: 15px; }
  .section h3 {
    margin: 10px 0; }
    .section h3 small {
      margin-left: 10px;
      color: #35a961; }
  .section:first-of-type {
    margin-top: 0; }

@media (min-width: 768px) and (max-width: 1024px) {
  .scs {
    width: 75%;
    margin-left: auto; } }

@media (min-width: 1024px) and (max-width: 1200px) {
  .scs {
    width: 82%;
    margin-left: auto; }
    .scs #scsImg {
      max-width: 800px;
      min-width: 750px;
      margin: 0;
      margin: 100px auto 50px; }
    .scs .sections {
      display: flex;
      flex-wrap: wrap;
      max-width: 800px;
      min-width: 750px; }
      .scs .sections .section {
        width: 43%;
        height: auto; }
        .scs .sections .section:first-of-type {
          width: 100%; }
        .scs .sections .section:last-of-type {
          margin-left: 20px; } }

@media (min-width: 1200px) and (max-width: 1400px) {
  .scs {
    width: 85%;
    margin-left: auto; }
    .scs #scsImg {
      max-width: 800px;
      min-width: 750px;
      margin: 0;
      margin: 100px auto 50px; }
    .scs .sections {
      display: flex;
      flex-wrap: wrap;
      max-width: 800px;
      min-width: 750px; }
      .scs .sections .section {
        width: 43%;
        height: auto; }
        .scs .sections .section:first-of-type {
          width: 100%; }
        .scs .sections .section:last-of-type {
          margin-left: 20px; } }

@media (min-width: 1401px) {
  .scs {
    width: 92%;
    margin-left: auto; }
    .scs #scsImg {
      max-width: 800px;
      min-width: 750px;
      margin: 0;
      margin: 100px auto 50px; }
    .scs .sections {
      display: flex;
      flex-wrap: wrap;
      max-width: 800px;
      min-width: 750px; }
      .scs .sections .section {
        width: 43%;
        height: auto; }
        .scs .sections .section:first-of-type {
          width: 100%; }
        .scs .sections .section:last-of-type {
          margin-left: 20px; } }

#main-content .content {
  padding: 19.8% 0; }

#main-content .comingSoon {
  display: flex;
  width: 60%;
  margin-left: auto;
  text-align: center;
  font-size: 24px;
  color: #111228; }
  #main-content .comingSoon i {
    background-color: #e8dde7;
    font-size: 48px;
    color: black;
    border: 3px solid #523762;
    border-radius: 50%;
    box-shadow: 0px 0px 3px 0px #000000;
    padding: 10px;
    margin-left: 25px; }

.title-wrapper {
  width: 100%;
  border-bottom: 5px solid #111228;
  color: #ffffff;
  background-color: #523762;
  padding: 43px 0; }

@media (max-width: 768px) {
  .title {
    text-align: center; } }

@media (min-width: 768px) {
  .comingSoon {
    width: 100%;
    font-size: 14px; }
  .title {
    width: 50%;
    text-align: left;
    margin-left: auto; } }

.content__wrapper {
  display: none; }

.content__wrapper.fade {
  opacity: 1;
  transition: opacity 0.3s ease-in-out; }

.collapseTitle {
  cursor: pointer;
  text-align: center;
  background-color: #ac8dbf;
  padding: 15px 0;
  border: 3px solid #111228;
  color: #111228; }
  .collapseTitle:hover {
    background-color: #956cad; }
  .collapseTitle:active {
    background-color: #7b5393; }

.placeholder {
  color: #111228;
  text-align: center;
  background-color: #a59d9d;
  padding: 15px 0;
  border: 3px solid #111228; }

.code-wrapper {
  width: 90%;
  margin: 75px auto;
  /* width */
  /* Track */
  /* Handle */ }
  .code-wrapper .code {
    height: 500px;
    background-color: grey;
    border: 3px solid #111228;
    border-top: none;
    border-bottom: none;
    overflow: auto;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: .5px;
    font-weight: 500; }
  .code-wrapper ::-webkit-scrollbar {
    width: 10px; }
  .code-wrapper ::-webkit-scrollbar-track {
    background: #e8dde7; }
  .code-wrapper ::-webkit-scrollbar-thumb {
    background: #111228; }
  .code-wrapper p {
    letter-spacing: .5px;
    line-height: 25px;
    font-weight: 300; }
    .code-wrapper p:first-of-type {
      padding-bottom: 15px; }
    .code-wrapper p:last-of-type {
      padding-top: 15px; }
  .code-wrapper ul {
    padding: 0;
    list-style: none;
    text-transform: capitalize;
    letter-spacing: .5px;
    line-height: 25px;
    font-weight: 300; }
    .code-wrapper ul li::before {
      content: " - ";
      padding-right: 10px;
      font-weight: 900; }

.explanation {
  border: 3px solid #111228;
  background-color: #ffffff;
  padding: 15px;
  font-size: 18px; }
  .explanation a {
    color: #111228; }
    .explanation a:hover {
      color: #511649; }
  .explanation .additional_info {
    width: 230px;
    margin: 0 auto; }
    .explanation .additional_info h5 {
      margin-bottom: 25px;
      text-align: center;
      text-decoration: underline; }
    .explanation .additional_info img {
      width: 100%;
      border: 3px solid #111228;
      border-radius: 25px; }

@media (min-width: 768px) and (max-width: 1024px) {
  #codeSectionsWrapper {
    width: 70%;
    margin-left: auto; }
  .code-wrapper {
    width: 550px;
    margin-top: 75px; } }

@media (min-width: 1024px) and (max-width: 1200px) {
  #codeSectionsWrapper {
    width: 75%;
    margin-left: auto;
    margin-right: 50px; }
  .code-wrapper {
    width: 100%;
    margin-top: 75px; } }

@media (min-width: 1200px) and (max-width: 1800px) {
  #codeSectionsWrapper {
    width: 70%;
    margin-left: auto;
    margin-right: 7%; }
  .code-wrapper {
    width: 100%;
    margin-top: 75px; }
    .code-wrapper p {
      width: 67%;
      padding: 25px 30px; }
    .code-wrapper ul {
      padding: 0 30px; } }

@media (min-width: 1801px) and (max-width: 2560px) {
  #codeSectionsWrapper {
    width: 70%;
    margin-left: auto;
    margin-right: 10%; }
  .code-wrapper {
    width: 100%;
    margin-top: 75px; } }

@media (min-width: 2560px) {
  #codeSectionsWrapper {
    width: 70%;
    margin-left: auto;
    margin-right: 10%; }
  .code-wrapper {
    width: 100%;
    margin-top: 75px; } }

* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat',sans-serif;
  user-select: none; }

#body {
  background-color: #d9d3cd; }
