
#contactMe{
    background: rgb(217,211,205);
    background: linear-gradient(180deg, rgba(217,211,205,1) 10%, rgba(192,175,168,1) 100%);
    .contactDetails{
        width:90%;
        margin-right: auto;
        margin-left: auto;
        color:$credBorder;
        h1{
            text-transform: capitalize;
        }
        p{
            margin-bottom: 20px;
        }
        ul {
            padding: 0;
            margin:25px 0;
            li{
                font-size: 18px;
                list-style: none;
                &:first-of-type{
                    margin-bottom: 15px;
                }
                a{
                    text-decoration: none;
                    color: $credBorder;
                }
            }
         }
    }

    .form{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    #firstName,#lastName,
    #email,#subject{
        width:95%;
        padding-top:10px;
        padding-bottom:10px;
        padding-left:10px;
        margin-top:10px;
    }

    #message{
        min-width:95%;
        max-width:95%;
        min-height:125px;
        margin-top:10px;
        padding-left:10px;
        padding-top:15px;

    }

    #firstName,#lastName,
    #email,#subject,#message{
        border:0.25px solid grey;
        border-radius: 10px;
        letter-spacing: 0.22px;
        line-height: 2px;
        font-size: 14px;
        &:focus{
            transition: .15s ease-in-out;
            box-shadow: 0px 0px 15px 1px #523762;
        }

    }
    // #submit{
    //     padding-left:35px;
    //     padding-right:35px;
    //     padding-top: 15px;
    //     padding-bottom:15px;

    //     border: 1px solid black;
    //     border-radius: 5px;
    //     margin-top:15px;
    // }
}



.scrollUpPosition{
    background-color: rgb(192,175,168);
    padding-top:25px;

    .scrollup{
        text-align: center;
        text-transform: capitalize;
        padding-bottom: 25px;
        font-size: 18px;
        font-weight: 700;
        letter-spacing: 1px;
        a{
            color:$credBorder;
            text-decoration: none;
        }
    }
}



input:focus,
select:focus,
textarea:focus,
text:focus,
button:focus{
    outline: none;
}

.errorMessage{
    background-color: rgba(214,27,27,.75);
}
.successMessage{
    background-color: lightgreen;

}
.errorMessage, .successMessage{
    border: .25px solid $credBorder;
    border-radius: 5px;
    padding:10px;
    text-align: center;
    margin-bottom: 20px;
}

#msg{
    margin-top: 10px;
    padding:15px 5px;
    width:50%;
    outline: none;
    background-color:$white;
    border:2px solid $credBorder;
    border-radius: 5px;
    font-size: 18px;
    text-transform: capitalize;
    text-align: center;
    cursor: pointer;
    &:hover{
        color:$white;
        background-color: $titleBackground;
        transition: ease-in-out .5s;
        border-radius: 20px;
    }
    &:active{
        box-shadow: inset 0px 0px 15px -2px #000000;
    }
}

@media(min-width:$break-m) and (max-width:$break-l){
    #contactMe{
        margin-left: auto;

        .contactDetails{
            width:40%;
        }

        .form{
            width:68%;
            margin-left: auto;
            margin-right:2%;
            #firstName,#lastName{
                width:45.5%;
            }
        }
    }
    #msg{
        width:30%;
    }

    .scrollup{
        width:75%;
        margin-left: auto;
    }
    
}

@media (min-width:$break-l) and(max-width:$break-xl){
    #contactMe{
        display: flex;
        margin-left: auto;

        .contactDetails{
            width:25%;
            margin-right: 0;
        }

        .form{
            width:47%;
            margin:30px;
            #firstName,#lastName{
                width:45.5%;
                
            }
            #firstName{
                margin-right: 1%;
            }
        }
    }

    #msg{
        width:20%;
    }

    .scrollup{
        width:80%;
        margin-left: auto;
    }
}

@media(min-width:$break-xl) {
    #contactMe{
        display: flex;
        margin-left: auto;
        width:100%;

        .contactDetails{
            width:25%;
            margin-right: 2.5%;
        }
        .form{
            width:50%;
            margin:30px;
            #firstName,#lastName{
                width:46.5%;
                
            }
            #firstName{
                margin-right: 1%;
            }
        }

        // #firstName,#lastName,
        #email,#subject{
            width:96%
        }
        #message{
            min-width:96%;
            max-width:96%;
        }
    }

    #msg{
        width:20%;
    }

    .scrollup{
        width:85%;
        margin-left: auto;
    }
}

@media(min-width:1851px)and(max-width:$break-4k){
    #contactMe{
        display: flex;
        padding-left: auto;
        padding-right: 5%;
        width:90%;

        .scrollup{
            width:85%;
            margin-left: auto;
            margin-right:5%;
        }
    }
}
@media(min-width:$break-4k){
    #contactMe{
        display: flex;
        padding-left: auto;
        padding-right: 5%;
        width:90%;

    }
    .scrollup{
        width:85%;
        margin-left: auto;
        margin-right:5%;
    }
}
