

//This code will automatically place "coming soon" on unfinished pages
#main-content{
    .content{
        // background-color: $projectBackground;
        padding:19.8% 0;
    }
    .comingSoon{
        display: flex;
        width:60%;
        margin-left: auto;
        // margin-right: auto;
        text-align: center;
        font-size: 24px;
        color:$credBorder;
        i{
            background-color: $credBackground;
            font-size: 48px;
            color: black;
            border:3px solid $titleBackground;
            border-radius: 50%;
            box-shadow: 0px 0px 3px 0px #000000;
            padding:10px;
            margin-left: 25px;
        }
    }
}

// Styles the Title Bar accross pages
.title-wrapper{
    width:100%;
    border-bottom: 5px solid $credBorder;
    color: $white;
    background-color: $titleBackground;
    padding:43px 0;
    
    
}

@media(max-width:$break-m){
    .title{
        text-align: center;
    }
}

@media(min-width:$break-m){
    .comingSoon{
        // text-align: center;
        width:100%;
        font-size: 14px;
        // margin-right: auto;
    }
    .title{
        width:50%;
        text-align: left;
        margin-left: auto;
    }
}




//This code will position the infomation on scsScheme and AboutMe

// @media(min-width:$break-m) and (max-width:$break-l){
//     .title{
//         width:50%;
//         margin-left: auto;
//     }
// }
// @media(min-width:$break-l)  and (max-width:$break-xl){
//     .title-wrapper{
//         width:90%;
//         margin-left: auto;
//     }
// }

// @media(min-width:$break-4k){
//     .title-wrapper{
//         width:95%;
//         margin-left: auto;
//     }
// }
