$titleBackground:rgb(82, 55, 98);
// $projectBackground:rgb(232,221,231);
$projectBackground:rgb(217,211,205);
$white:#ffffff;
$credBackground:rgb(232,221,231);
$credBorder:rgb(17, 18, 40);
$links:rgb(81, 22, 73);
$treehouse : #35a961;
$netmatters: #333643;